# JWT secret key for authentication
JWT_SECRET=your_jwt_secret_key

# Admin user credentials
USER_PASSWORD=your_admin_password
USER_EMAIL=your_admin_email
DATABASE_URL=your_database_url

# Optional if you wanto use docker-compose to run the database
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5432

APP_PORT=8000